.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}



.login-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.choice-container {
  text-align: center;
  margin-bottom: 30px;
}

.choice-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choice-button {
  padding: 12px 30px;
  margin: 0 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.return-button {
  padding: 12px 30px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
